PORT=8000

DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=Password
DB_NAME=smartvyapar

JWT_SECRET=super_secret_jwt_key
JWT_EXPIRES_IN=1h

EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_16_character_app_password
